﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="WUKategory.ascx.cs" Inherits="Portfolio.Views.Kategor.WUKategory" %>

    <asp:DropDownList ID="DropDownList1" runat="server">
        <asp:ListItem>Test</asp:ListItem>
    </asp:DropDownList>
    <asp:TextBox ID="TB_Thema" runat="server"></asp:TextBox>
    <asp:Button ID="Button2" OnClick="Button2_Click" runat="server" Text="Добавить тему" />
    <asp:TreeView BulletStyle="Numbered" DisplayMode="LinkButton" ID="BulletedList2" runat="server" ImageSet="XPFileExplorer" NodeIndent="15" Width="100%">
        <HoverNodeStyle Font-Underline="True" ForeColor="#6666AA" />
        <NodeStyle Font-Names="Tahoma" Font-Size="8pt" ForeColor="Black" HorizontalPadding="2px" NodeSpacing="0px" VerticalPadding="2px" />
        <ParentNodeStyle Font-Bold="False" />
        <SelectedNodeStyle BackColor="#B5B5B5" Font-Underline="False" HorizontalPadding="0px" VerticalPadding="0px" />
    </asp:TreeView>
    
<asp:Panel ID="Panel1" runat="server">
    <asp:Panel ID="Panel4" runat="server">Категория 1    
        <asp:Panel  ID="Panel2" runat="server">
            <a href="../VThema/Thema.aspx?id=1">Тема 1</a>
        </asp:Panel>
        <asp:Panel  ID="Panel3" runat="server">
            <a href="../VThema/Thema.aspx?id=2">Тема 2</a>
        </asp:Panel>
    </asp:Panel>
</asp:Panel>


