﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="WUKatPanel.ascx.cs" Inherits="Portfolio.Views.Kategor.WUKatPanel" %>
    <asp:TextBox ID="TextBox1" runat="server"></asp:TextBox>
    <asp:Button ID="Button1" OnClick="Button1_Click" runat="server" Text="Добавить категорию" />
    <br>
    
    