﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="RegUser.aspx.cs" Inherits="Portfolio.Views.RegUser" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    Имя
    <asp:TextBox ID="tbName" runat="server"></asp:TextBox>
    <br />Логин
    <asp:TextBox ID="tbLogin" runat="server"></asp:TextBox>
    <br />Пароль
    <asp:TextBox ID="tbPass" runat="server"></asp:TextBox>
    <br />
    <asp:Label ID="labInfo" runat="server" Text=""></asp:Label>
    <br />
    <asp:Button ID="butLogin" runat="server" Text="Зарегистрироваться" onclick="butLogin_Click" />
    </form>
</body>
</html>
